/*响应式布局*/
/* 当浏览器的可视区域小于980px */
/*@media screen and ( max-width: 980px ) {
#wrap {width: 90%; margin:0 auto;}
#content {width: 60%;padding: 5%;}
#sidebar {width: 30%;}
#footer {padding: 8% 5%;margin-bottom: 10px;}
}
/* 当浏览器的可视区域小于650px */
/*@media screen and ( max-width: 650px ) {
#header {height: auto;}
#searchform {position: absolute;top: 5px;right: 0;}
#content {width: auto; float: none; margin: 20px 0;}
#sidebar {width: 100%; float: none; margin: 0;}
}
img {
max-width: 100%;
height: auto;
width: auto\9; /* ie8 */
/*}
.video embed, .video object, .video iframe {
width: 100%;
height: auto;
}
/*响应式布局 完*/
        body{
	        margin:0;
	        padding: 0;
	        background-color: #e1e3e4;
	        font-family: "微软雅黑";

             }
        .top{
	        background-color: #f4f4f4;
	        color:#a6abab;
	        height:45px;
             }
        .top .slogan{
            float:left;
            margin-left:20px;
            width:550px;
            font-size:16px;
            font-weight: normal;
            
             }
        .top .login{
	        float:right;
	        margin-top:15px;
	        margin-right:50px;
	        font-size:16px;
            font-weight: normal;
             }
        .login a{
        	color: #000;
        }
        .login a:hover{
        	 text-decoration:none;
        }
        .middle{
            height:60px;border: 1px solid #CCCCCC;
        }
        .middle .logo{
        	width:100px;float:left;font-size:40px;padding-left: 20px;
        }
       .middle ul{
       	list-style: none;float: right;margin: 0;padding: 0;padding-right: 250px;
       }
       .middle li{
       	float: left;
       	display: inline-block;
        height: 60px;
        line-height: 60px;
        font-size: 15px;
        font-family: "微软雅黑";
        font-weight: 300;
        text-transform: uppercase;
       }
       .listmenu a{
       	display: block;text-decoration:none;color: #333;border-right: 1px solid #a6abab;padding: 0 15px;
       }
       .listmenu a:hover{
       	background-color: #f4f4f4;
       } 
        #search{
        display: inline-block;float: right;
        }
       .main-one,
       .main-two,
       .main-trd{
       	height:450px;padding:50px;
       }
       .pic{
       	float: left;width: 650px;
       }
       .pic img{
       	height:450px;width:600px;opacity:0.8;
       }
       .pic img:hover{
    	opacity:1.0;
       }
       .word{
       	float: left;width:650px;
       }
       .word a{
       	text-decoration: none;color: #000;
       }
       .one,
       .two,
       .trd{
       	height:120px;
       	border-bottom: 1px solid #a6abab;
       }
       .two img,
       .trd img{
       	padding: 23px 6px;
       }
       .four span{
       	line-height: 5px;
       }
       .part-one{
       	float: left;}
       .part-two,
       .part-trd{
       	float: left;padding-left: 45px;
       }
       .part-one img,
       .part-two img,
       .part-trd img{
       	width: 400px;height: 350px;opacity:0.8;
       }
       .part-one img:hover,
       .part-two img:hover,
       .part-trd img:hover{
       	opacity:1.0;
       }

